* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    background-color: #201914;
    height: fit-content;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: beige;
    display: grid;
    grid-template-rows: 100px 8fr 0.5fr;
}

.rejected {
    color: red;
}

.my-book-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-book-container h1 {
    text-align: center;
}

.footer {
    border: solid 1px beige;
    margin-top: 5px;
}

.header {
    border: solid 1px beige;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
}

.right-header .search {
    width: 40%;
    display: flex;
    align-items: center;
}

.right-header .links:active {
    color: red;
}

.header .search input {
    height: 40px;
    width: 85%;
    background-color: rgb(230, 225, 225);
    outline: none;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    color: rebeccapurple;
}

.right-header .search button {
    background-color: rgb(230, 225, 225);
    outline: none;
    width: 15%;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    height: 40px;
    cursor: pointer;
}

.right-header .search input::placeholder {
    color: rebeccapurple;
}

.right-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
}


.right-header .links {
    text-decoration: none;
    color: beige;
}

.right-header .hb {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(132, 17, 239), rgb(162, 98, 222), rgb(207, 183, 229));
    border-radius: 10px;
}

.add-book-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(20, 25, 22) 0%, rgb(20, 25, 22) 7.692%, rgb(51, 43, 34) 7.692%, rgb(51, 43, 34) 15.385%, rgb(83, 60, 47) 15.385%, rgb(83, 60, 47) 23.077%, rgb(110, 76, 59) 23.077%, rgb(110, 76, 59) 30.769%, rgb(130, 89, 70) 30.769%, rgb(130, 89, 70) 38.462%, rgb(139, 98, 79) 38.462%, rgb(139, 98, 79) 46.154%, rgb(138, 102, 84) 46.154%, rgb(138, 102, 84) 53.846%, rgb(126, 102, 87) 53.846%, rgb(126, 102, 87) 61.538%, rgb(104, 98, 86) 61.538%, rgb(104, 98, 86) 69.231%, rgb(76, 88, 82) 69.231%, rgb(76, 88, 82) 76.923%, rgb(44, 75, 75) 76.923%, rgb(44, 75, 75) 84.615%, rgb(12, 59, 65) 84.615%, rgb(12, 59, 65) 92.308%, rgb(0, 42, 54) 92.308%, rgb(0, 42, 54) 100%);
    height: 85vh;
}

.add-book-page form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    gap: 20px;
    height: fit-content;
    width: 40%;
    border: solid 2px beige;
    place-items: center;
    padding: 20px 0px;
    border-radius: 20px;
    color: beige;
}

.add-book-page form div {
    width: 80%;

}

.add-book-page form input {
    background-color: rgb(224, 223, 215);
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 100px;
    backdrop-filter: blur(20px);
    color: blueviolet;
}

.add-book-page form h2 {
    color: beige;
}

.add-book-page form .book-image {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;

}

.add-book-page form .book-image label {
    font-size: 20px;
}

.add-book-page form button {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


.add-book-page form .book-condition select {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 10px;
}

.add-book-page form .add-book {
    display: flex;
    justify-content: center;

}

.all-books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    min-height: 100vh;
}

.all-book-container h1 {
    text-align: center;
}

.all-book-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.all-books .book-card .request button {
    outline: none;
    cursor: pointer;
    height: 30px;
    border-radius: 8px;
    width: 180%;
    padding: 5px;
}

.profile-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.profile-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 50%;
    border: solid 2px beige;
    gap: 20px;
    border-radius: 30px;
}

.profile-div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: solid 1px beige;

}

.profile-page .profile-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.profile-buttons .edit-btn {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 10px grey;
}

.logout-btn:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 1s;
}


.profile-buttons .edit-btn:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 1s;
}

.profile-buttons .logout-btn {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 10px grey;
}



.user-book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px beige;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(38, 5, 5);
    box-shadow: 2px 2px 10px wheat;
}

.user-book div {
    /* border: solid 1px beige; */
    width: 80%;
}

.user-book .my-book-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-book .my-book-title {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px beige;
}

.user-book .my-book-title h2 {
    font-size: 20px;
    width: 35%;
}

.user-book img {
    border-radius: 10px;
    height: 100px;
    width: 150px;
}



.my-book-title {
    border-bottom: solid 1px beige;
    display: flex;
    justify-content: space-between;

}

.user-book .my-book-buttons {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.user-book .edit-btn {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px goldenrod;
    cursor: pointer;
}

.user-book .edit-btn:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 1s;
}

.user-book .delete-btn {
    width: 40%;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px goldenrod;
}

.user-book .delete-btn:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 1s;
}

.my-books {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.request-book {
    background: linear-gradient(90deg, rgb(20, 25, 22) 0%, rgb(20, 25, 22) 7.692%, rgb(51, 43, 34) 7.692%, rgb(51, 43, 34) 15.385%, rgb(83, 60, 47) 15.385%, rgb(83, 60, 47) 23.077%, rgb(110, 76, 59) 23.077%, rgb(110, 76, 59) 30.769%, rgb(130, 89, 70) 30.769%, rgb(130, 89, 70) 38.462%, rgb(139, 98, 79) 38.462%, rgb(139, 98, 79) 46.154%, rgb(138, 102, 84) 46.154%, rgb(138, 102, 84) 53.846%, rgb(126, 102, 87) 53.846%, rgb(126, 102, 87) 61.538%, rgb(104, 98, 86) 61.538%, rgb(104, 98, 86) 69.231%, rgb(76, 88, 82) 69.231%, rgb(76, 88, 82) 76.923%, rgb(44, 75, 75) 76.923%, rgb(44, 75, 75) 84.615%, rgb(12, 59, 65) 84.615%, rgb(12, 59, 65) 92.308%, rgb(0, 42, 54) 92.308%, rgb(0, 42, 54) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.req-book-card {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.right-header {
    gap: 10px;
}

.req-book-card .book-card {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 39, 18) 100%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
}

.request-page-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    width: 90%;
    height: 70px;
    align-self: center;
}

.req-book-card .book-card .book-title {
    display: flex;
    align-items: end;
    border-bottom: solid 1px beige;
}

.req-book-card .book-card .book-author {
    display: flex;
    align-items: end;
    border-bottom: solid 1px beige;
}

.req-book-card .book-card .condition {
    display: flex;
    align-items: end;
    border-bottom: solid 1px beige;
}

.request-book .req-book-card .book-card .book-image img {
    width: 90%;
    margin: 0 auto;
}

.acc {
    height: 40px;
    width: 40%;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}

.rej {
    height: 40px;
    width: 40%;
    color: blue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;

}

.acc:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.rej:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.my-book-title {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.all-books .book-card .book-image img {
    width: 90%;
    margin: 0 auto;
}



.accepted-msg {
    text-align: center;
    margin-bottom: 10px;
}

.my-requests-container {
    min-height: 90vh;
}